.events{
display: flex;
flex-direction: column;
flex: 6;
justify-content: center;
align-items: center;
color: #0a3f65 ;
padding-bottom: 5%;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    flex: 1
}
.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}
.header-right{
    display: flex;
    flex: 1;
}
.header-icon{
    font-size: 2vh;
}
.header-teal{
    background-color: #3eceb1;
    color: #0a3f65;
    padding-left: .8%;
padding-right: .8%;
    border-radius: 1%;
    font-weight: 600;
}
.color-icon{
    margin-right: 1vw
}
.header-blue{
background-color: #0a3f65;
color: #f5f8fb;
padding-left: .8%;
padding-right: .8%;
border-radius: 1%;
font-weight: 600;
}
.right-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   margin-left:auto;
    width: 40%
}
.events-main{
    display: flex;
    flex-direction: row;
    flex: 8;
    width: 80%
}
.main-left{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

@media only screen and (max-width: 768px)  { 
  
    .events-main{
    padding-bottom: 1%;;
        flex-direction: column;
  }

.header{
    width: 95%;
    padding: 5%;
}
.header-left{
    flex: 2.5;
    font-size: .7vh;
}
.header-right{
    font-size: .7vh;
}
.right-icons{
    width: 90%;

}
.header-icon{
    font-size: 1.2vh;
}
.events-main{
    width: 90%
}
.main-right{
    margin-top: 5%;
}
}