.event-card{
display: flex;
flex-direction: row;    
height: 20vh;
width: 95%;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
background-color: white;
box-shadow: .1px .1px 50px #939da5;
}
.event-info{
    display: flex;
    flex-direction: column;
    flex: 1.6;
    height: 85%;
}
.info-top{
    display: flex;
    flex: 2.5;
    flex-direction: column;
    justify-content: space-between;
}
.info-bottom{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.bottom-right{
    display: flex;
    flex: 1;
    justify-content: right;
}
.bottom-left{
    flex: 1;
    height: 90%;
    color: #939da5
}
.liked{
    color: #f3725d;
    font-size: 2.5vh;
}
.like{
    font-size: 2.5vh
}
.play{
    font-size: 2.5vh;
     margin-left: .5vw
}
.event-title{
    font-size: 2vh;
    font-weight: 800;
}
.event-by{
    color: #939da5;
    font-size: 1.4vh;
    font-weight: 600;

}
.event-location{
    color: #939da5;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 1.5vh
}
.event-description{
    width: 80%;
    font-size: 2vh;
    font-weight: 500;
    text-align: left;
    margin-right: auto;
    margin-left:auto
}
.description-title{
    font-size: 2.5vh;
    font-weight: 800;
    margin-right: auto;
    margin-left: auto;
    color: #f3725d;
}
.card-icon{
    margin-right: .5vw;
}
.event-date{
   color: #f56350;
   font-size: 1.5vh;
   font-weight: 800;
}
.interested p{
    font-size: 1vh;
    font-weight: 800;
}
.ppl{
    font-size: 2vh;
    margin-right: -5%
}

@media only screen and (max-width: 768px)  { 
 .event-card{
    width: 100%;
}
.event-info{
    margin-left: 1%;
}
    .event-title{
        font-size: 1.2vh;
    }
    .event-location{
        font-size: 1vh;
    }
    .event-description{
        font-size:1.5vh
    }
    .event-by{
        font-size: 1vh;
    }
    .ppl{
    font-size: 1.5vh;    
    }
    .interested p{
    font-size: 1vh;    
    }
  }