.filter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: #0a3f65;
    background-color: white;
}
.filters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-top: 5%;
}
.filter-search{
    width: 100%;
    height: 3vh;
    background-color: white;
    border: 1px solid #939da5;
}